name: check repo exists

on:
  pull_request_target:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          path: main
      - uses: actions/checkout@v4
        with:
          ref: pull/${{ github.event.pull_request.number }}/head
          path: pr

      - uses: actions/setup-go@v5
        with:
          go-version: ^1.22
          cache-dependency-path: |
            main/go.sum
      - name: save private to file
        run: 'echo "$MK_REPO_APP_PRIVATE_KEY" > /tmp/private_key'
        env:
          MK_REPO_APP_PRIVATE_KEY: ${{secrets.MK_REPO_APP_PRIVATE_KEY}}
      - name: create repo
        run: |
          cd main
          go run ./tools/mkrepo -check ../pr/repos.yaml
        env:
          MK_REPO_ORG: linglongdev
          MK_REPO_MANAGER_REPO: Repository-Manager
          MK_REPO_APP_ID: ${{ secrets.MK_REPO_APP_ID }}
          MK_REPO_APP_INSTALL_ID: ${{ secrets.MK_REPO_APP_INSTALL_ID }}
          MK_REPO_APP_PRIVATE_KEY: /tmp/private_key
          MK_REPO_WEBHOOK_URL: ${{ secrets.MK_REPO_WEBHOOK_URL }}
          MK_REPO_WEBHOOK_SECRET: ${{ secrets.MK_REPO_WEBHOOK_SECRET }}
